<header>
    <link rel="stylesheet" href="/assets_QL/css/style.css">
    <title>QUẢN LÍ CHUNG</title>
</header>
<body>
    <div id="header">
        <!-- ul#nav>li*5>a --> 
        <ul id="nav">
            
            <li><a href="">TRANG CHỦ</a></li>
            <li><a href="">HỒ SƠ</a></li>
            <li><a href="">BẢO MẬT</a></li>
            <li><a href="">LIÊN HỆ</a></li>
            <li>
                <a href="">
                    QUẢN LÝ
                    <!-- mũi tên kế  -->
                    <i class="nav-arrow-down ti-angle-down"></i>
                </a>
                <ul class="subnav">
                    <li><a href="/quanli/donhang">Quản lý đơn hàng</a></li>
                    <li><a href="/quanli/sanpham">Quản lý sản phẩm</a></li>
                    <li><a href="/quanli/nhanvien">Quản lý nhân viên</a></li>
                </ul>
            </li>
        </ul>

        <!-- sign-out button -->
        <div class="signout-btn">
            <i class="signout-icon ti-shift-right">Xin chào {{user}}</i>
        </div>
    </div>
    <div id="slider">
       
    </div>  
    <div id="content">
        <!-- about section -->
        <div class="content-section">
            <h2 class="section-heading">GIAO DIỆN QUẢN LÝ M-COFFE</h2>
            <p class="section-slogan">XIN CHÀO BẠN !</p>
            <p class="about-text">Nếu như bạn đã đến được với giao diện này,chắc hẳn bạn đã trở thành một thành viên trong gia đình M-Coffe,đây chỉ mới là giao diện chung khi vừa bắt đầu đăng nhập,tài khoản của bạn đã được cấp quyền chỉ sử dụng được 1 chức năng tương ứng với chức vụ mà người quản lý cấp cho bạn.</p>
            <p class="about-text"> Để có thể sử dụng đúng chức năng của bạn hãy trỏ chuột vào phần "QUẢN LÝ" ở thanh trên cùng,click vào đúng chức năng quản lý của bạn,màn hình sẽ chuyển sang trang mới,đó là nơi bạn sẽ bắt đầu làm việc. </p>
            <p class="about-text"> Hãy cố gắng nỗ lực làm việc cùng với các cộng sự trong gia đình M-Coffe,sự nỗ lực của bạn sẽ tỉ lệ thuận với sự phát triển của quán cũng như tiền lương của bạn đấy ^.^ !  </p>
        </div>  
    </div>
            <script src="/assets_NV/main.js"></script>
</body>

<footer>
    <div class="footer">
        <div class="row">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
            <ul>
                <li><a href="#home">TRANG CHỦ</a></li>
                <li><a href="#about">VỀ CHÚNG TÔI</a></li>
                <li><a href="#menu">THỰC ĐƠN</a></li>
                <li><a href="https://forms.gle/UB9oWQi4AMi5tdiK8">PHẢN
                        HỒI</a></li>
                <li><a href="#book">ĐẶT BÀN</a></li>
            </ul>

        </div>

        <div class="logo-footer">
            <img src="/assets_Home/images/logo.png" alt width="70px">
        </div>
    </div>
</footer>
